$themes: (
        light: (
                main: #ffffff,
                secondary: #eeeeee,
                purple-details: #433250,
                gradient: radial-gradient(circle at 80% 50%, #967eaa 0%, #cccccc 80%),
                linear-gradient: linear-gradient(90deg, #3c3245, #6f5c7e),
                font: #000000,
                terminal-font: #049f04,
                terminal-prompt: #348e8e,
                terminal-background:#e8e8e8,
                terminal-header: darken(#e8e8e8, 15%),

        ),
        dark: (
                main: #000000,
                secondary: #121212,
                purple-details: #b9a5ca,
                gradient: radial-gradient(circle at 80% 50%, #4b355e 0%, #000000 80%),
                linear-gradient: linear-gradient(90deg, #cfc9bc, #7a688a),
                font: #eeeeee,
                terminal-font: #00ff00,
                terminal-prompt: #00ffff,
                terminal-background: #1b1b1b,
                terminal-header: lighten(#121212, 30%)
        ),
);

@mixin make-theme($themes) {
        @each $name, $values in $themes {
                .#{$name}-theme {
                        $theme-map: $values !global;
                        @content;
                }
        }
}

@function themed($key) {
        @return map-get($theme-map, $key);
}