$themes: (
        light: (
                main: #ffffff,
                secondary: #eeeeee,
                gradient: radial-gradient(circle at 80% 50%, #cab0dd 0%, #9090ae 80%),
                font: #000000,
                terminal-font: darken(#00ff00, 15%),
                terminal-prompt: darken(#00ffff, 10%),
                terminal-background:#ffffff,
                terminal-header: #eeeeee,

        ),
        dark: (
                main: #000000,
                secondary: #121212,
                gradient: radial-gradient(circle at 80% 50%, #77419f 0%, #22224e 80%),
                font: #eeeeee,
                terminal-font: #00ff00,
                terminal-prompt: #00ffff,
                terminal-background: #121212,
                terminal-header: lighten(#121212, 30%)
        ),
);

@mixin make-theme($themes) {
        @each $name, $values in $themes {
                .#{$name}-theme {
                        $theme-map: $values !global;
                        @content;
                }
        }
}

@function themed($key) {
        @return map-get($theme-map, $key);
}