@import 'theme';

@include make-theme($themes) {
  .language-content {
    display: flex;
    gap: 25px;

    .language-group {
      width: 55px;

      .progress-bar {
        display: flex;
        gap: 3px;
        margin-top: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      .progress-rect {
        width: 10px;
        height: 10px;
        background-color: themed("terminal-font");
        border-radius: 2px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    }

    .language-group:hover .progress-bar {
      opacity: 1;
    }

    .progress-rect.visible {
      opacity: 1;
    }
  }
}
