@import 'theme';

body {
  margin: 0;
}

@include make-theme($themes) {
  .wrapper {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: themed("secondary");
  }

  main {
    background-color: themed("main");
    width: clamp(300px, 90%, 1000px);
    min-height: 400px;
    display: flex;
    box-shadow: 0 9px 14px -3px themed("shadow-deeper");
    border-radius: 12px;

    nav {
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      width: clamp(120px, 20%, 200px);
      box-sizing: border-box;
      border-radius: 12px;
      border-right: 1px solid themed("shadow");

      button {
        margin: 20px 0;
        background-color: themed("main");
        border: none;
        cursor: pointer;
        box-shadow: 0 4px 6px themed("shadow");
        color: themed("font");

        &:hover {
          box-shadow: 0 6px 12px themed("shadow-deeper");
        }
      }
    }

    p {
      margin: 40px;
      color: themed("font");
    }
  }
}